/* afazeres: OL


/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

strong {
font-weight:900;
}

a {
color:#00b;
font-weight:600;
  background-image: linear-gradient(to right, #00b , #00b );
  background-position: 0 1.2em;
  background-repeat: repeat-x;
  background-size: 8px 1px;
text-decoration:none;
}

a:hover {
color:tomato;
  background-image: linear-gradient(to right, tomato , tomato );

}

h1 {
font-weight:300;
font-size:600%;
letter-spacing:-0.03em;
line-height:80%;
margin-left:-10px;

}

body {
	max-width:1200px;
	margin:auto;
	font-family: 'Piazzolla', serif;
	padding:20px;
	}
	
header#main  {
	background-color:white;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
	margin-bottom:40px;
	}
	
header#main h1  {
	grid-column: 1 / span 2;
	padding-top:100px;
	}

header#main p.about-1, p.about-2, p.about-3 {
font-size:140%;
font-style:italic;
letter-spacing:0.01em;

}


header#main p.about-1 {
	grid-column: 1 / span 2;
	}
	
header#main p.about-2 {
	grid-column: 3 / span 1;
	padding: 10px;
	padding-left;padding-right: 16px;
	border: 2px solid tomato;
	}
	
header#main p.about-3 {
	grid-column: 4 / span 1;
		padding: 10px;
	padding-left;padding-right: 16px;
	border: 2px solid #ddd;

	}

h2, h3, h4  {
	line-height: 140%;
	font-size:160%;
	margin-bottom: 20px;
	}


	
h2::first-line, h3::first-line  {
	}
	
h2  {
	font-weight:900;
	letter-spacing:0.02em;
	}

h3  {
	font-weight:300;
	}
	
h4  {
	font-weight:300;
	font-style:italic;
	}
	
	
h1 a, h2 a, h3 a, h4 a{
background:none;
text-decoration:none;
color:black;
font-weight:inherit;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover{
background:none;

text-decoration:none
color:tomato;
}

p  {
font-size: 110%;
	}
	
p.gravata {
	letter-spacing:0.02em;
}
	
p.more  {
	display:block;
	margin-top: 20px;
	}
	
p.more a {
	background:none;
	text-decoration:none;
	font-weight:300;
	color:tomato;
	background-color:white;
	padding: 5px;
	padding-left;padding-right: 8px;
	width:100%;
	border: 1px solid tomato;
	}
	
p.more a:hover {
	color:white;
	background-color:tomato;
	padding: 5px;
	width:100%;
	border: 1px solid tomato;

	}

section  {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	background:white;
	grid-gap: 20px;
	border-bottom: 3px solid black;
		padding-bottom: 20px;


	}

header.categoria  {
	grid-column: 1 / span 1;
		padding-top:20px;

	}

section:first-of-type  { 
	border-top: 3px solid black;
	}

article:first-of-type  { 
	border-top: none;
	}

article  {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr ;
	grid-gap: 20px;
	grid-column: 2 / span 3;
	background:white;
	border-top: 1px solid black;
	padding-top:20px;
	}

article header.item  {
	grid-column: 1 / span 1;
	background:none;
	}

.thumbnails  {
	grid-column: 2 / span 2;
	}

.thumbnails img  {
	margin-top:10px;
	margin-bottom:0px;
	width:100%;
	max-height:600px;
	}
	
	
article p img  {
	max-width:100%;
	}
	
img.half {
	width:50%;
	float:right;
	}
	
article.caso  {
	grid-column: 2 / span 3;
}

article.caso h3, article.caso p, article.caso h4  {
	grid-column: 1 / span 3;
	margin:0px;

	}
	
article.caso ol{
	grid-column: 1 / span 2;
	list-style-type:decimal;
}

footer  {
	padding-top:20px;
		margin-bottom:40px

	font-style:italic;
	}

@media (max-width: 600px)  {
	body  {
		background-color:red;
		}
	}